.home {
  width: 100%;
  box-sizing: border-box;
  background-color: #3a74c5;
  padding: 15px;
  &-header {
    height: 260px;
    background-color: #fff;
    border-radius: 6px;
    margin: 0 auto;
  }
}