<!DOCTYPE html>
<html>

<head>
  <title>Wecom Developer</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Hello Developer</h1>
  <p>Welcome to Wecom Developer Center</p>
</body>

</html>